/* Common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  text-transform: uppercase;
}

h2, h4 {
  color: #fff;
}

h3 {
  text-transform: uppercase;
  color: #b3b3b3;
}

.show-md,
.show-lg {
  display: none;
}

#top-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
}

#top-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

aside #aside-top .logo > i,
main nav > .burger-menu {
  font-size: 30px;
}

/******************  Aside ***************** */
aside {
  background-color: black;
  color: #b3b3b3;
  width: 80px;
  float: left;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

aside a {
  color: #b3b3b3;
  display: block;
}

aside span {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 600;
}

aside #aside-top .logo > img {
  width: 140px;
}

aside #aside-top .search-buttons,
aside #aside-bottom  {
  display: flex;
  flex-direction: column;
}

#aside-top .search-buttons > a > i,
#aside-bottom > a > i {
  font-size: 20px;
  color: #b3b3b3;
}

#aside-top .search-buttons img {
  background-color: #fff;
  width: 20px;
}

#aside-top .playlist img {
  width: 35px;
}

/******************  Main ***************** */
main {
  background-color: gold;
  height: 100%;
  float: left;
  width: calc(100% - 80px);
  overflow: auto;
}

main nav #nav-menu {
  text-align: center;
}

main .sections-container {
  max-width: 1140px;
  margin: 0 auto;
}

main section#creato-per-te .playlist-container,
main section#recently-played .playlist-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.playlist-container > .song-container {
  text-align: center;
  padding: 20px;
  flex-grow: 1;
}

.playlist-container > .song-container img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.playlist-container > .song-container h4 {
  font-size: 14px;
}

/****************** Footer ******************/
footer {
  background-color: #272727;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer #footer-left a > img {
  width: 60px;
  vertical-align: middle;
}

#footer-left [class="far fa-heart"] {
  vertical-align: middle;
}

footer #audio-reproduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #volume-control {

}
/****************** Media Query ******************/

/* Responsive - Breakpoint Tablet 768px md */
@media screen and (min-width: 768px) {
  aside {
    width: 150px;
    align-items: flex-start;
  }

  main {
    width: calc(100% - 150px);
  }

  main .playlist-container > .song-container img {
    width: 150px;
    height: 150px;
  }

  footer {
    justify-content: space-between;
  }

  .hidden-md {
    display: none;
  }

  .show-md {
    display: inline-block;
  }
}

/* Responsive - Breakpoint Desktop 992px lg */
@media screen and (min-width: 992px) {
  aside {
    width: 200px;
    align-items: flex-start;
  }

  main {
    width: calc(100% - 200px);
  }

  main nav #nav-menu ul > li {
    display: inline-block;
  }

  .hidden-lg {
    display: none;
  }

  .show-lg {
    display: block;
  }
}

/* Responsive - Breakpoint 1170px */
@media screen and (min-width: 1170px) {
  main .playlist-container > .song-container {
    flex-grow: 0;
  }
}
