/* Common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  text-transform: uppercase;
}

h2, h4 {
  color: #fff;
}

h3 {
  text-transform: uppercase;
  color: #b3b3b3;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.show-md,
.show-lg {
  display: none;
}

#top-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  /* display: flex; */
}

#top-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

/******************  Aside ***************** */
aside {
  background-color: black;
  color: #b3b3b3;
  width: 80px;
  height: 100%;
  float: left;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

aside a {
  color: #b3b3b3;
  display: block;
}

aside span {
  font-size: 14px;
  font-weight: 600;
}

aside #aside-top .logo {
  padding: 20px 0 30px 0;
}

aside #aside-top .logo > i {
  font-size: 40px;
  color: #fff;
}

aside #aside-top .search-buttons,
aside #aside-bottom  {
  display: flex;
  flex-direction: column;
}

#aside-top .search-buttons > a > i {
  font-size: 25px;
  padding: 10px 0;
}

#aside-top .search-buttons > a:last-child {
  padding-top: 10px;
}

#aside-top .search-buttons img {
  background-color: #b3b3b3;
  width: 25px;
  vertical-align: middle;
}

#aside-top .playlist img {
  width: 35px;
  vertical-align: middle;
}

#aside-top .playlist span {
  vertical-align: middle;
}

#aside-bottom > a:first-child {
  border-bottom: 1px solid #b3b3b3;
  margin: 0 10px;
}

#aside-bottom > a > i[class="far fa-arrow-alt-circle-down"] {
  font-size: 20px;
  padding-bottom: 15px;
}

#aside-bottom > a > i[class="far fa-user"] {
  font-size: 30px;
  padding-top: 15px;
}

/******************  Main ***************** */
main {
  background-color: gold;
  height: 100%;
  float: left;
  width: calc(100% - 80px);
  overflow: auto;
}

main nav > .burger-menu {
  font-size: 30px;
}

main nav #nav-menu {
  text-align: center;
}

main .sections-container {
  max-width: 1140px;
  margin: 0 auto;
}

main section#creato-per-te .playlist-container,
main section#recently-played .playlist-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.playlist-container > .song-container {
  text-align: center;
  padding: 20px;
  flex-grow: 1;
}

.playlist-container > .song-container img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.playlist-container > .song-container h4 {
  font-size: 14px;
}

/****************** Footer ******************/
footer {
  background-color: #272727;
  color: #b3b3b3;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

footer #footer-left a > img {
  width: 60px;
  vertical-align: middle;
}

#footer-left [class="far fa-heart"] {
  vertical-align: middle;
}

footer #audio-reproduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #volume-control {

}
/****************** Media Query ******************/

/* Responsive - Breakpoint Tablet 768px md */
@media screen and (min-width: 768px) {
  aside {
    width: 160px;
    text-align: left;
    padding: 0 10px;
  }

  aside #aside-top .logo > img {
    width: 125px;
  }

  #aside-top .search-buttons > a > span {
    padding-left: 5px;
  }

  #aside-top .recently-listened {
    padding: 30px 0 25px;
  }

  #aside-top .recently-listened > a {
    padding: 0 0 5px 5px;
    font-size: 14px;
  }

  #aside-top .playlist {
    padding-bottom: 40px;
  }

  #aside-top .playlist > a {
    margin-bottom: 10px;
  }

  #aside-bottom span {
    padding-left: 5px;
  }

  main {
    width: calc(100% - 160px);
  }

  main .playlist-container > .song-container img {
    width: 150px;
    height: 150px;
  }

  .hidden-md {
    display: none;
  }

  .show-md {
    display: inline-block;
  }
}

/* Responsive - Breakpoint Desktop 992px lg */
@media screen and (min-width: 992px) {
  aside {
    width: 200px;
    align-items: flex-start;
    padding: 0 25px;
  }

  #aside-bottom > a:first-child {
    margin: 0;
    text-align: center;
  }

  main {
    width: calc(100% - 200px);
  }

  main nav #nav-menu ul > li {
    display: inline-block;
  }

  footer #footer-left .being-played {
    display: inline-block;
    vertical-align: middle;
  }

  footer #footer-left .being-played > a {
    display: block;
  }

  .hidden-lg {
    display: none;
  }

  .show-lg {
    display: block;
  }
}

/* Responsive - Breakpoint 1170px */
@media screen and (min-width: 1170px) {
  main .playlist-container > .song-container {
    flex-grow: 0;
  }
}
